In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy
import seaborn as sns
from map_coordinates import *
from plotting_functions import *
import matplotlib.colors as mcolors
from typing import Callable, List
from __future__ import annotations
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)

CONNECTION_STRING = "postgresql://postgres:postgres@localhost:5000/CSGODatabase"

#from plotting_functions import scatter_plot, heatmap_plot
from map_coordinates import *

from Scripts.database import Database

db = Database()
query = db.query

sns.set()
sns.set_style("whitegrid", {'axes.grid' : False})

n_colors = 512
blues = plt.cm.Blues_r(np.linspace(0.1, 1, n_colors // 2))
reds = plt.cm.Reds(np.linspace(0.1, 1, n_colors // 2))

combined_colors = np.vstack((blues, [1, 1, 1, 1], reds))
combined_cmap = mcolors.LinearSegmentedColormap.from_list('reds_blues_cmap', combined_colors)

In [4]:
buy_query = """
SELECT tbuytype, ctbuytype, winningside
FROM gamerounds
"""

buy_df = query(buy_query)

display(buy_df)

       tbuytype ctbuytype winningside
0      Full Eco  Full Eco           T
1      Semi Buy  Semi Buy          CT
2      Semi Eco  Full Buy           T
3      Full Buy  Semi Eco          CT
4      Full Buy  Semi Buy           T
...         ...       ...         ...
41071  Full Buy  Full Buy           T
41072  Full Buy  Full Buy          CT
41073  Full Buy  Full Buy          CT
41074  Full Eco  Full Buy          CT
41075  Full Buy  Full Buy          CT

[41076 rows x 3 columns]

In [5]:
# Group by t_buy and win_side, count occurrences
t_buy_stats = buy_df.groupby(['tbuytype', 'winningside']).size().unstack(fill_value=0)

# Add win percentage column for T-side wins
t_buy_stats['T_win_percent'] = (t_buy_stats['T'] / t_buy_stats.sum(axis=1)) * 100

# Group by ct_buy and win_side, count occurrences
ct_buy_stats = buy_df.groupby(['ctbuytype', 'winningside']).size().unstack(fill_value=0)

# Add win percentage column for CT-side wins
ct_buy_stats['CT_win_percent'] = (ct_buy_stats['CT'] / ct_buy_stats.sum(axis=1)) * 100

# Display the tables
print("T Buy Stats:\n", t_buy_stats)
print("\nCT Buy Stats:\n", ct_buy_stats)

T Buy Stats:
 winningside     CT      T  Unknown  T_win_percent
tbuytype
Full Buy     12549  14125        0      52.954188
Full Eco      4340   1676        1      27.854412
Semi Buy      2977   2582        0      46.447203
Semi Eco      2293    533        0      18.860580

CT Buy Stats:
 winningside     CT      T  Unknown  CT_win_percent
ctbuytype
Full Buy     18200  10784        0       62.793265
Full Eco      1712   3615        1       32.132132
Semi Buy      1662   2332        0       41.612419
Semi Eco       585   2185        0       21.119134

In [7]:
# Group by t_buy, enemy ct_buy, and win_side, count occurrences
t_buy_stats = buy_df.groupby(['tbuytype', 'ctbuytype', 'winningside']).size().unstack(fill_value=0)

# Calculate win percentage for T-side wins
t_buy_stats['T_win_percent'] = (t_buy_stats['T'] / t_buy_stats.sum(axis=1)) * 100

# Group by ct_buy, enemy t_buy, and win_side, count occurrences
ct_buy_stats = buy_df.groupby(['ctbuytype', 'tbuytype', 'winningside']).size().unstack(fill_value=0)

# Calculate win percentage for CT-side wins
ct_buy_stats['CT_win_percent'] = (ct_buy_stats['CT'] / ct_buy_stats.sum(axis=1)) * 100

# Display the tables
print("T Buy Stats with Enemy Buy State:\n", t_buy_stats)
print("\nCT Buy Stats with Enemy Buy State:\n", ct_buy_stats)

T Buy Stats with Enemy Buy State:
 winningside            CT     T  Unknown  T_win_percent
tbuytype ctbuytype
Full Buy Full Buy   11125  8944        0      44.566246
         Full Eco     131  1788        0      93.173528
         Semi Buy     890  1737        0      66.121051
         Semi Eco     403  1656        0      80.427392
Full Eco Full Buy    2484   158        0       5.980318
         Full Eco    1548  1488        1      48.995719
         Semi Buy     294    14        0       4.545455
         Semi Eco      14    16        0      53.333333
Semi Buy Full Buy    2425  1205        0      33.195592
         Full Eco      13   321        0      96.107784
         Semi Buy     373   543        0      59.279476
         Semi Eco     166   513        0      75.552283
Semi Eco Full Buy    2166   477        0      18.047673
         Full Eco      20    18        0      47.368421
         Semi Buy     105    38        0      26.573427
         Semi Eco       2     0        0       0.000000

CT Buy Stats with Enemy Buy State:
 winningside            CT     T  Unknown  CT_win_percent
ctbuytype tbuytype
Full Buy  Full Buy  11125  8944        0       55.433754
          Full Eco   2484   158        0       94.019682
          Semi Buy   2425  1205        0       66.804408
          Semi Eco   2166   477        0       81.952327
Full Eco  Full Buy    131  1788        0        6.826472
          Full Eco   1548  1488        1       50.971353
          Semi Buy     13   321        0        3.892216
          Semi Eco     20    18        0       52.631579
Semi Buy  Full Buy    890  1737        0       33.878949
          Full Eco    294    14        0       95.454545
          Semi Buy    373   543        0       40.720524
          Semi Eco    105    38        0       73.426573
Semi Eco  Full Buy    403  1656        0       19.572608
          Full Eco     14    16        0       46.666667
          Semi Buy    166   513        0       24.447717
          Semi Eco      2     0        0      100.000000

In [10]:
# Create a pivot table for T buy stats
t_buy_matrix = buy_df.pivot_table(
    index='tbuytype', 
    columns='ctbuytype', 
    values='winningside', 
    aggfunc=lambda x: (x == 'T').mean() * 100
).fillna(0)

# Create a pivot table for CT buy stats
ct_buy_matrix = buy_df.pivot_table(
    index='ctbuytype', 
    columns='tbuytype', 
    values='winningside', 
    aggfunc=lambda x: (x == 'CT').mean() * 100
).fillna(0)

# Rename the columns to be clear
t_buy_matrix.columns.name = "Enemy CT Buy"
ct_buy_matrix.columns.name = "Enemy T Buy"

# Rename the indices to make them clear
t_buy_matrix.index.name = "Team T Buy"
ct_buy_matrix.index.name = "Team CT Buy"

# Print the matrices in a readable format
print("T Buy Win Percentages Against CT Buy:\n")
print(t_buy_matrix.round(2))
print("\nCT Buy Win Percentages Against T Buy:\n")
print(ct_buy_matrix.round(2))

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         44.57     93.17     66.12     80.43
Full Eco          5.98     49.00      4.55     53.33
Semi Buy         33.20     96.11     59.28     75.55
Semi Eco         18.05     47.37     26.57      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        55.43     94.02     66.80     81.95
Full Eco         6.83     50.97      3.89     52.63
Semi Buy        33.88     95.45     40.72     73.43
Semi Eco        19.57     46.67     24.45    100.00

In [11]:
def get_pivot_table_mapspecific(df):
    # Create a pivot table for T buy stats
    t_buy_matrix = df.pivot_table(
        index='tbuytype', 
        columns='ctbuytype', 
        values='winningside', 
        aggfunc=lambda x: (x == 'T').mean() * 100
    ).fillna(0)
    
    # Create a pivot table for CT buy stats
    ct_buy_matrix = df.pivot_table(
        index='ctbuytype', 
        columns='tbuytype', 
        values='winningside', 
        aggfunc=lambda x: (x == 'CT').mean() * 100
    ).fillna(0)
    
    # Rename the columns to be clear
    t_buy_matrix.columns.name = "Enemy CT Buy"
    ct_buy_matrix.columns.name = "Enemy T Buy"
    
    # Rename the indices to make them clear
    t_buy_matrix.index.name = "Team T Buy"
    ct_buy_matrix.index.name = "Team CT Buy"
    
    # Print the matrices in a readable format
    print("T Buy Win Percentages Against CT Buy:\n")
    print(t_buy_matrix.round(2))
    print("\nCT Buy Win Percentages Against T Buy:\n")
    print(ct_buy_matrix.round(2))

In [22]:
buy_query = """
SELECT mapname, tbuytype, ctbuytype, winningside
FROM BuyMapView
"""

buy_df = query(buy_query)

display(buy_df)

          mapname  tbuytype ctbuytype winningside
0         de_nuke  Full Eco  Full Eco           T
1         de_nuke  Semi Buy  Semi Buy          CT
2         de_nuke  Semi Eco  Full Buy           T
3         de_nuke  Full Buy  Semi Eco          CT
4         de_nuke  Full Buy  Semi Buy           T
...           ...       ...       ...         ...
41071  de_vertigo  Full Buy  Full Buy           T
41072  de_vertigo  Full Buy  Full Buy          CT
41073  de_vertigo  Full Buy  Full Buy          CT
41074  de_vertigo  Full Eco  Full Buy          CT
41075  de_vertigo  Full Buy  Full Buy          CT

[41076 rows x 4 columns]

In [28]:
filtered_df = buy_df[buy_df['mapname'] == 'de_mirage'][['tbuytype', 'ctbuytype', 'winningside']]

get_pivot_table_mapspecific(filtered_df)

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         44.59     92.08     64.06     79.31
Full Eco          6.51     46.91      5.08     20.00
Semi Buy         32.33     94.83     59.44     79.83
Semi Eco         18.02    100.00     28.57      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        55.41     93.49     67.67     81.98
Full Eco         7.92     53.09      5.17      0.00
Semi Buy        35.94     94.92     40.56     71.43
Semi Eco        20.69     80.00     20.17      0.00

In [29]:
filtered_df = buy_df[buy_df['mapname'] == 'de_inferno'][['tbuytype', 'ctbuytype', 'winningside']]

get_pivot_table_mapspecific(filtered_df)

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         47.27     94.10     71.73     81.48
Full Eco          7.06     56.04      7.84     58.33
Semi Buy         34.89     96.30     59.42     76.88
Semi Eco         20.26     60.00     18.75      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        52.73     92.94     65.11     79.74
Full Eco         5.90     43.96      3.70     40.00
Semi Buy        28.27     92.16     40.58     81.25
Semi Eco        18.52     41.67     23.12    100.00

In [30]:
filtered_df = buy_df[buy_df['mapname'] == 'de_dust2'][['tbuytype', 'ctbuytype', 'winningside']]

get_pivot_table_mapspecific(filtered_df)

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         47.85     93.60     67.95     85.11
Full Eco          5.37     40.77      2.17    100.00
Semi Buy         38.74    100.00     64.08     69.88
Semi Eco         20.23     33.33     36.36      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        52.15     94.63     61.26     79.77
Full Eco         6.40     59.23      0.00     66.67
Semi Buy        32.05     97.83     35.92     63.64
Semi Eco        14.89      0.00     30.12      0.00

In [31]:
filtered_df = buy_df[buy_df['mapname'] == 'de_overpass'][['tbuytype', 'ctbuytype', 'winningside']]

get_pivot_table_mapspecific(filtered_df)

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         41.28     93.22     68.14     79.91
Full Eco          7.10     46.80      2.50      0.00
Semi Buy         30.11    100.00     51.33     72.73
Semi Eco         16.92      0.00     15.79      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        58.72      92.9     69.89     83.08
Full Eco         6.78      53.2      0.00    100.00
Semi Buy        31.86      97.5     48.67     84.21
Semi Eco        20.09     100.0     27.27      0.00

In [32]:
filtered_df = buy_df[buy_df['mapname'] == 'de_nuke'][['tbuytype', 'ctbuytype', 'winningside']]

get_pivot_table_mapspecific(filtered_df)

T Buy Win Percentages Against CT Buy:

Enemy CT Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team T Buy
Full Buy         42.23     91.97     63.75     77.62
Full Eco          4.64     47.72      6.98     66.67
Semi Buy         33.38     92.11     58.97     72.64
Semi Eco         18.22     33.33     33.33      0.00

CT Buy Win Percentages Against T Buy:

Enemy T Buy  Full Buy  Full Eco  Semi Buy  Semi Eco
Team CT Buy
Full Buy        57.77     95.36     66.62     81.78
Full Eco         8.03     52.28      7.89     66.67
Semi Buy        36.25     93.02     41.03     66.67
Semi Eco        22.38     33.33     27.36      0.00

In [39]:
winrate_query = """
SELECT mapname, winningside
FROM BuyMapView
"""

winrate_df = query(winrate_query)
display(winrate_df)

          mapname winningside
0         de_nuke           T
1         de_nuke          CT
2         de_nuke           T
3         de_nuke          CT
4         de_nuke           T
...           ...         ...
41071  de_vertigo           T
41072  de_vertigo          CT
41073  de_vertigo          CT
41074  de_vertigo          CT
41075  de_vertigo          CT

[41076 rows x 2 columns]

In [56]:
winrate_df = winrate_df[winrate_df['winningside'].isin(['T', 'CT'])]

result = winrate_df.groupby('mapname')['winningside'].value_counts(normalize=True).unstack(fill_value=0)
result.rename(columns=lambda x: f"{x}_winrate", inplace=True)

print(result)

for i in range(1):
    print("\n")
total_winrate = winrate_df['winningside'].value_counts(normalize=True)
print(total_winrate)

winningside  CT_winrate  T_winrate
mapname
de_ancient     0.574277   0.425723
de_dust2       0.521437   0.478563
de_inferno     0.509742   0.490258
de_mirage      0.542676   0.457324
de_nuke        0.562740   0.437260
de_overpass    0.566859   0.433141
de_train       0.544479   0.455521
de_vertigo     0.512809   0.487191


winningside
CT    0.539477
T     0.460523
Name: proportion, dtype: float64